@font-face{
    font-family:'Fraunces';
    src: url("../fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
@font-face{
    font-family:'Montserrat';
    src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
:root{
    /*fonts*/
    --Fraunces-font:'Fraunces';
    --Montserrat-font:'Montserrat';
    /*Primary*/
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    /*Neutral*/
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --paragraph-color:hsl(240, 5%, 51%);
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Cream);
    position: relative;
}
img{
    width:100%;
    display: block;
}
a{
    text-decoration: none;
}
#desktop{
    display: none;
}
main{
    margin: 28px 16px;
}
.product-card{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.image{
    position: relative;
}
.image::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(160deg ,hsl(0, 0%, 0%,0.20) 10%,hsla(0, 0%, 0%, 0.07)70%,hsl(0, 0%, 0%,0.25));
}
figcaption{
    background-color: var(--White);
    padding: 24px;
}
small{
    display: block;
    text-transform: uppercase;
    font-family: var(--Montserrat-font);
    font-weight: 500;
    color:var(--paragraph-color);
    letter-spacing: 3px;
}
h1{
    font-family: var(--Fraunces-font);
}
p{
    color: var(--Dark-grayish-blue);
    font-family: var(--Montserrat-font);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2rem;
    margin-top: 16px;
    color: var(--paragraph-color);
}
.price{
    margin-top: 25px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.price span:first-child{
    color: var(--Dark-cyan);
    font-family: var(--Fraunces-font);
    font-weight: 700;
    font-size: 2rem;
}
.price span:last-child{
    color: var(--Dark-grayish-blue);
    font-family: var(--Montserrat-font);
    font-weight: 500;
    font-size: 13px;

}
main a{
    display: block;
    background-color: var(--Dark-cyan);
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 16px 0px;
    font-family: var(--Montserrat-font);
    font-weight: 700;
    font-size: 14px;
    border-radius: 7px;
}
main a:hover{
    transition: all 0.3s ease-out;
    background-color: hsl(156, 42%, 18%);
}
i{
    margin-right: 10px;
}
.attribution{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--Fraunces-font);
}
.attribution a{
    font-size: 20px;
    color: var(--Dark-cyan);
    font-family: var(--Montserrat-font);
}
@media(min-width:768px){
    main{
        margin: 0;
    }
    figure{
        display: flex;
    }
    .image{
        width: 50%;
    }
    #desktop{
        display: block;
    }
    figcaption{
        width: 50%;
        padding: 28px 33px;
    }
    #mobile{
        display: none;
    }
    .product-card{
        max-width:600px ;
    }
    small{
        margin-bottom: 22px;
    }
    h1{
        line-height: 1;
    }
    p{
        line-height: 1.7;
        margin-top: 23px;
    }
    main a{
        margin-top: 28px;
    }
}